body {
   font-family: "Muller";
   font-weight: 400;
   background: #f1f1f1;
}

.container {
   width: 100%;
   max-width: 1170px;
   margin: 0 auto;
}

/* HEADER========================= */
.header__inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 30px 0;
}
.header__phone {
   flex: 1 1 auto;
   margin-left: 25px;

   font-weight: 700;
   font-size: 22px;
   line-height: 1.45;
   color: #666666;
}
.header__phone:hover {
   text-decoration: underline;
}
.header__link {
   position: relative;
   padding-left: 20px;

   font-size: 16px;
   line-height: 2;
   color: #cc9933;

   transition: transform 0.2s linear;
}
.header__link:hover {
   transform: scale(1.2);
   transition: transform 0.5s linear;
}
.header__link::before {
   content: "";
   position: absolute;
   left: 0;
   top: 25%;
   width: 14px;
   height: 15px;
   background: url(../img/arrow.png);
}

/* HEADER-MENU==================== */
.menu {
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 20px;

   background: #ffffff;
   border-radius: 12px;
}
.menu__list {
   display: flex;
   justify-content: space-between;
   flex-basis: 60%;
   padding: 27px 0 17px;
}
.menu__item {
   height: 20px;
   font-size: 16px;
   line-height: 1;
}
.menu__item-link {
   padding-bottom: 18px;
   color: #333333;
   display: block;
   height: 100%;
   transition: all 0.2s;
}
.menu__item-link:hover {
   color: #cc9933;
   border-bottom: 3px solid #cc99338e;
   transform: scale(1.1);
   transition: color, transform 0.3s;
}
.menu__input {
   width: 355px;
   height: 48px;
   padding: 0 20px;
   font-size: 16px;
   color: #333333;
   background: #f1f1f1;
   border-radius: 15px;
}
.menu__input::placeholder {
   font-size: 14px;
   line-height: 2;
   color: #bebebe;
}
.search {
   position: absolute;
   right: 40px;
   top: 25px;
   background: url(../img/search.png) no-repeat;
   width: 22px;
   height: 22px;
   opacity: 0.7;
}

/* RESERVATION==================== */
.reservation__inner {
   display: flex;
   justify-content: space-between;
}
.title {
   margin: 70px 0 23px 44px;

   font-size: 40px;
   color: #333333;
}
.reservation__form {
   display: flex;
   flex-direction: column;
   width: 520px;
}
.form__input {
   margin-bottom: 24px;
   padding: 27px 20px;

   font-size: 16px;
   color: #333333;
   background: #fff;

   border-radius: 12px;
}
.form__input::placeholder {
   color: #999999;
}
.select {
   font-family: "Muller";
   font-weight: 400;
   font-size: 16px;
   color: #999;
   -webkit-appearance: none;
   -moz-appearance: none;
}
.nights::-webkit-inner-spin-button {
   display: none;
}
.date {
   color: #999999;
}
.reservation__btn {
   padding: 27px 30px;

   font-size: 16px;
   font-weight: 700;
   color: #ffffff;

   background: #cc9933;
   border-radius: 12px;
   transition: all 0.5s linear;
}
.reservation__btn:hover {
   color: #cc9933;
   background: #fff;
   border: 1px solid #cc9933;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   transform: translateX(15px);
}
.offers {
   display: inline-block;
   margin-left: 30px;
   color: #999;
}
.number {
   color: #cc9933;
}
.reservation__offer {
   position: relative;
}
.reservation__offer-img,
.img {
   border-radius: 12px;
}
.offer__info {
   position: absolute;
   left: 40px;
   bottom: 35px;
}
.offer__title {
   width: 340px;
   margin-bottom: 32px;

   font-size: 66px;
   line-height: 0.87;
   font-weight: 700;
   color: #ffffff;
}
.offer__price {
   margin: 32px 40px 0 0;

   font-size: 35px;
   color: #ffffff;
   opacity: 0.5;
}
.offer__link {
   position: relative;
   padding-right: 15px;

   font-size: 16px;
   color: #ffcc66;

   transition: linear all 0.3s;
}
.offer__link:hover {
   font-size: 18px;
   text-decoration: underline;
}
.offer__link::after {
   content: "";
   position: absolute;
   right: 0;
   top: 50%;
   transform: translateY(-50%);
   width: 9px;
   height: 16px;
   background: url(../img/decor.png);
}

/* ABOUT======================= */
.about__text {
   margin-left: 44px;
   width: 85%;

   font-size: 16px;
   line-height: 2;
   color: #666;
}
/* SERVICES==================== */
.services__inner {
   display: flex;
   flex-wrap: wrap;
   /* justify-content: space-between; */
}
.services__item {
   max-width: 572px;
   margin-bottom: 24px;

   background: #ffffff;
   border-radius: 12px;
}
.services__item:nth-child(odd) {
   margin-right: 24px;
}
.services__img {
   border-top-left-radius: 12px;
   border-top-right-radius: 12px;
}
.services__link {
   display: inline-block;
   position: relative;
   padding: 40px 25px 0 44px;

   font-size: 22px;
   line-height: 1.45;
   color: #cc9933;

   transition: all 0.2s linear;
}
.services__link:hover {
   transform: scale(1.05);
   text-decoration: underline;
   transition: all 0.3s linear;
}
.services__link::after {
   content: "";
   position: absolute;
   right: 0;
   top: 65%;
   width: 9px;
   height: 16px;
   background: url(../img/decor.png);
}
.services__dscription {
   width: 78%;
   padding-left: 44px;
   padding-bottom: 40px;

   font-size: 16px;
   line-height: 2;
   color: #333333;
}

/* ADVANTAGES==================== */
.advantages__inner {
   display: flex;
   /* justify-content: space-between; */
   flex-wrap: wrap;
}
.advantages__item {
   flex: 0 1 calc(25% - 18px);
   margin-bottom: 24px;
   padding: 40px 44px;

   background: #ffffff;
   border-radius: 12px;

   margin-right: 24px;
}
.advantages__item:nth-child(4n) {
   margin-right: 0;
}
.advantages__icon {
   width: 65px;
   padding-bottom: 20px;
}
.advantages__text {
   font-size: 16px;
   line-height: 2;
   color: #333333;
}

/* ACCOMMODATION==================== */
.accommodation__inner {
   display: flex;
   /* justify-content: space-between; */
   flex-wrap: wrap;
}
.accommodation__item {
   position: relative;
   flex: 0 1 30%;
   min-height: 441px;
   margin-bottom: 24px;
   margin-right: 24px;

   background: #ffffff;
   border-radius: 12px;
   user-select: none;
}
.accommodation__item:nth-child(3n) {
   margin-right: 0;
}
.accommodation__img {
   border-top-left-radius: 12px;
   border-top-right-radius: 12px;
}
.accommodation__list {
   padding: 36px 44px 15px 43px;
   position: relative;

   font-size: 16px;
   line-height: 2;
   color: #333333;
}
.accommodation__list li {
   display: flex;
   justify-content: space-between;
}
.stars:not(:last-child) {
   padding-right: 7px;
}
.star {
   display: inline-block;
   background: url(../img/star-empty.png);
   color: #fff;
   width: 14px;
   height: 13px;
}
.star:hover {
   background: url(../img/star.png);
}
.star--active {
   background: url(../img/star.png);
}
.accommodation__list span {
   color: #999999;
}
.accommodation__btn {
   padding: 13px 20px;
   margin-left: 44px;

   font-weight: 700;
   color: #cc9933;

   background-color: #fff;
   border: 1px solid #cc9933;
   border-radius: 12px;
   transition: all 0.5s;
}
.accommodation__btn:hover {
   background: #cc9933;
   color: #ffffff;
}
.accommodation__link {
   position: absolute;
   left: 38px;
   bottom: 50px;
   padding-right: 25px;

   font-size: 22px;
   color: #ffffff;

   background: url(../img/decor-white.png) no-repeat right;
   transition: all 0.3s;
}
.accommodation__link:hover {
   transform: scale(1.05);
}
.accommodation__link::before {
   content: "";
   position: absolute;
   top: -369px;
   right: -37px;
   width: 373px;
   height: 441px;
   z-index: 3;
   border-radius: 12px;
}

/* CONTACTS=============== */
.contacts {
   margin-bottom: 22px;
}
.contacts__inner {
   display: flex;
   align-items: center;
}
.contacts__item {
   flex: 0 0 40%;
   margin-right: 170px;
}
.contacts__body {
   padding: 20px 44px 0;

   background-color: #ffffff;
   border-radius: 12px;
}
.contacts__row {
   padding: 25px 0;
   display: flex;

   border-bottom: 1px solid #ccc;
}
.contacts__row-title {
   flex: 0 0 40%;

   font-size: 22px;
   font-weight: 700;
   color: #666;
}
.contacts__row-item {
   display: flex;
   flex-direction: column;

   font-size: 16px;
   line-height: 24px;
   color: #333333;
}
.phone-link,
.email-link {
   color: #cc9933;
}
.phone-link:hover,
.email-link:hover {
   text-decoration: underline;
}
.contacts__row-item span {
   color: #999;
}
.contacts__btn {
   margin: 45px 0;
   padding: 25px 30px;

   font-size: 16px;
   font-weight: 700;
   color: #cc9933;

   background-color: transparent;
   border: 1px solid #cc9933;
   border-radius: 12px;
   transition: all 0.5s;
}
.contacts__btn:hover {
   background: #cc9933;
   color: #fff;
   box-shadow: 0 0 10px #9a621ee9;
}
.form {
   flex: 0 1 35%;
}
.contacts__form {
   display: flex;
   flex-direction: column;
   flex: 0 1 30%;
}
.form__item {
   margin-bottom: 20px;
   padding: 27px 20px;

   font-size: 16px;
   color: #333;

   border-radius: 12px;
}
.form__item::placeholder {
   color: #999;
}
.contacts__form textarea {
   height: 140px;
   resize: none;
}
.form__btn {
   padding: 27px 128px;

   font-size: 16px;
   font-weight: 700;
   color: #ffffff;

   background-color: #cc9933;
   border: 1px solid #cc9933;
   border-radius: 12px;
   transition: all 0.5s;
}
.form__btn:hover {
   color: #cc9933;
   background-color: #fff;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* FOOTER================= */
.footer__inner {
   margin-bottom: 20px;
   padding: 50px;
   display: flex;
   justify-content: space-between;
   position: relative;

   color: #ffffff;
   font-size: 16px;
   line-height: 24px;

   background: #333333;
   border-radius: 12px;
}
.copyright {
   flex: 0 1 30%;
}
.footer__text {
   margin-bottom: 35px;
   line-height: 32px;
}
.footer__link {
   line-height: 1;
   color: #cc9933;

   transition: all 0.2s;
}
.footer__link:hover {
   text-decoration: underline;
   letter-spacing: 0.5px;
}
.footer__contacts {
   flex: 0 1 45%;
}
.footer__address {
   font-style: normal;
}
.footer__phone {
   display: flex;
   flex-direction: column;
   margin: 30px 0 25px;
}
.footer-link {
   display: flex;
   flex-direction: column;

   color: #cc9933;
}
.footer-link:hover {
   text-decoration: underline;
}
.footer__social {
   display: flex;
   flex-direction: column;
}
.social__link {
   margin-bottom: 21px;
}
.social__link:hover {
   transform: scale(1.1);
}
.social__link:last-child {
   margin-bottom: 0;
}
.footer__sun {
   position: absolute;
   right: 150px;
   bottom: 0;
}
